.extra-widget-settings {
}

div.extra-widget-settings .acf-label {
  float: left;
}

div.extra-widget-settings .acf-bl > li {
  float: left;
  position: relative;
  top: -4px;
  left: 10px;
}

.acf-field-image .acf-image-uploader img {
  max-height: 256px;
}

